includes:
	- phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - src
        - public
    excludePaths:
        - 'public/assets'
    bootstrapFiles:
        - stan_autoload.php
    checkGenericClassInNonGenericObjectType: false
